body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.query-builder-container .query-builder {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 16px;
}

.query-builder-container .group {
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.query-builder-container .rule {
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
}
